<h3>Create School Class Form</h3>

<%= form_for(@school_class) do |f|%>
    <div>
    <%= f.label :title%><br>
    <%= f.text_field :title%>
    </div>
    <div>
    <label>Room Number : </label><br>
    <%= f.number_field :room_number%>
    </div>
    <div>
    <%= f.submit %>
    </div>
<%end%>